@font-face {
    font-family: 'Unown';
    src: url('/fonts/Unown.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

input[type="search"] {
    font-family: 'Unown', sans-serif;
    font-size: 16px;
}

hr {
    width: 100%;
}

#secondarySearchForm {
    position: relative;
}

#secondary-search-autocomplete {
    position: absolute;
    top: 0;
    opacity: 0.2;
    overflow: hidden;
    pointer-events: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
}