.dragon{
    background-color: #4a1bc0 !important;
}
.spectre{
    background-color: #523f6d !important;
}
.vol{
    background-color: #a78eee !important;
}
.normal{
    background-color: #a6a677 !important;
}
.eau{
    background-color: #688ef0 !important;
}
.psy{
    background-color: #f75887 !important;
}
.sol{
    background-color: #e2be66 !important;
}
.tenebre{
    background-color: #6d5841 !important;
}
.poison{
    background-color: #9b439e !important;
}
.combat{
    background-color: #bd302c !important;
}
.insecte{
    background-color: #a9b820 !important;
}
.plante{
    background-color: #73cc4e !important;
}
.acier{
    background-color: #b7b8d0 !important;
}
.feu{
    background-color: #ef7f2c !important;
}
.fee{
    background-color: #e5a1e0 !important;
}
.glace{
    background-color: #96d8d3 !important;
}
.roche{
    background-color: #b89f38 !important;
}
.electrik{
    background-color: #fbcf28 !important;
}


.hp{
    background-color: #05c55f !important
}
.attack{
    background-color: #c94e53 !important;
}
.defense{
    background-color: #d59f27 !important;
}
.spe-attack{
    background-color: #bf44f2 !important;
}
.spe-defense{
    background-color: #e7673d !important;
}
.speed{
    background-color: #58abd9 !important;
}
.total{
    background-color: rgb(190, 28, 196) !important;
}